<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd" 
	default-init-method="init" default-destroy-method="destroy">
	
    <util:properties id="mailProps" location="classpath:mail.properties" />
	<bean id="reportDispatchRecordService" class="org.cognoscenti.reportdispatcher.service.ReportDispatchRecordServiceImpl">
		<property name="dao" ref="reportDispatchRecordDao" />
	</bean>
	
	<bean id="mailService" class="org.cognoscenti.reportdispatcher.service.MailServiceImpl">
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="props" ref="mailProps" />
	</bean>
	
	<bean id="schedulerService" class="org.cognoscenti.reportdispatcher.service.SchedulerServiceImpl">
	    <property name="reportDispatchRecordService" ref="reportDispatchRecordService" />
		<property name="mailService" ref="mailService" />
		<property name="autoStart" value="true" />
	</bean>
</beans>